<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BillBoardsManagement-20170725100637.mdf;Initial Catalog=aspnet-BillBoardsManagement-20170725100637;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="BBMSEntities" connectionString="p+BJ3ZDBAqfIbjxMjJr/DclhC5O/fCE1GusCr7KUb89EMFvwliU74AUBGR7I37x9xJQgvbbXKcYIirNjNCnXYmv+TFy+fiGzuLj8+k0nhcegKY5rC8NIhAEDPVK0jsqmOGElhdE65Sr5/DQ5dliwmqwVTGVfcdyOQuc9qOwaQTP2/mFGKdLE6i2tpJB+cbPYSXS+3wboICvv+PH7U3nzJGUEx1bTyk58/XtVEry2Oqg=" providerName="System.Data.EntityClient" />-->
    <add name="BBMSEntities" connectionString="metadata=res://*/Repository.Model1.csdl|res://*/Repository.Model1.ssdl|res://*/Repository.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BBMS;persist security info=True;user id=sa;password=Admin@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ImagePath" value="C:\Users\malikwaqar\Desktop" />
    <add key="ClientId" value="784420368313-vurrvo7bphih71m28hnv4ojcqns2ofkg.apps.googleusercontent.com" />
    <add key="ClientSecret" value="R_ZnM7XOf78NgwfVbVoiKa7h" />
    <add key="Region" value="Pothohar Region"/>
    <add key="Contactor" value="RAJA BABAR LATIF CONTRACTOR ADVERTISEMENT FEE 2017 - 2018."/>
    <add key="Area" value="District HORTICULTURE AUTHORITY RAWALPINDI."/>
    <add key="Region_on_pdf" value="Pothohar Region"/>
    <add key="BillCopy" value="false"/>

    <!-- X = 427, Y = 590 -->
  
    <add key ="name_position_X" value ="470"/>
    <add key ="name_position_Y" value ="650"/>
    <!--Name X = 264, Y = 806 -->
    
    <add key ="date_position_X" value="40"/>
    <add key ="date_position_Y" value="785"/>
    <!--Date X = 425, Y = 831 -->
    
    <add key ="bill_id_Y" value="785"/>
    <add key ="bill_id_X" value="370"/>

    <add key="Ammended_X" value ="260"/>
    <add key ="Ammended_Y" value="709"/>

    <!---Bill Id for potohar  X = 117, Y = 831-->

    <add key ="billApp_Y" value="785"/>
    <add key ="billApp_X" value="400"/>
    <!--Bill app X = 160, Y = 830-->
    
    <add key ="address_X" value="470"/>
    <add key ="address_Y" value="580"/>
    <!--Address X = 88, Y = 781-->
    
    <add key ="x_professional_tax" value="10"/>
    <add key ="y_professional_tax" value="10"/>
    <add key="ShowProfessionalTax" value="true"/>


    <add key ="amount_position_X" value="270"/>
    <add key ="amount_position_Y" value="495"/>  
    
    
    <add key ="x_total_mearment" value="50"/>
    <add key ="y_total_mearment" value="10"/>
    
    <add key="ShowtotalMearment" value="true"/>


    <add key ="x_total_amount" value="450"/>
    <add key ="y_total_amount" value="10"/>

    <add key="ShowtotalAmount" value="true"/>



  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
    <globalization culture="en-GB" />
  </system.web>
 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>