@model BillBoardsManagement.Models.ResetPasswordViewModel
@{ 
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BFN</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/simple-line-icons.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">

            <!-- <div class="col-md-12 text-center">
                <img src="img/injaz.png" class="logo">
            </div> -->
            <div class="col-md-4">
                <div class="card-group">
                    <div class="card mt-3 mb-3">
                        <div class="card-block">
                            <h3>Update Password</h3>
                            <p class="text-muted">Please update your password to procede.</p>
                           @using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                           {
                            @Html.AntiForgeryToken()
                                <div class="input-group mb-4">
                                    <span class="input-group-addon">
                                        <i class="icon-lock"></i>
                                    </span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-addon">
                                        <i class="icon-lock"></i>
                                    </span>
                                   @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control",@placeholder="Confirm Password" })
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4">Update</button>
                                    </div>

                                </div>
                           }
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
