  @{ 
      string currentUrl = "";
  }
<div class="sidebar">
    <nav class="sidebar-nav">
       
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Customer")"><i class="fa fa-credit-card"></i> Dashboard</a>
            </li>
          </ul>


    </nav>
</div>